<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Properties>
        <Property name="emulator">src/main/resources/emulator.log</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="Console" target="SYSTEM_OUT">
            <Layout type="PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </Layout>
        </Appender>

        <Appender type="File" name="emulatorFile" fileName="${emulator}">
            <Layout type="PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="netcracker.ec.service.RealLifeEmulator" level="debug" additivity="false">
            <AppenderRef ref="emulatorFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>